* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  position: relative;
  overflow: visible;
}

body.active {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

::-moz-selection {
  color: red;
  background: yellow;
}

::selection {
  color: red;
  background: yellow;
}

.anyclass {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 0.625rem;
  color: black;
}

.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 90px;
}

.header__container {
  max-width: 1192px;
  height: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.header__inner {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo-link {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 143px;
  height: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo-pic {
  height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__logo-svg {
  width: 100%;
  height: 100%;
}

.header__logo-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__logo-name-pic {
  height: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 0px;
}

.header__logo-name-pic:nth-child(7) {
  margin-right: 5px;
}

.header__logo-name-svg {
  width: 100%;
  height: 100%;
}

.header__nav {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}

.header__list-item {
  height: 28px;
  padding: 0 10px;
  border: none;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.header__list-item:hover {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 14px;
}

.header__link {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.75rem;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

.header__contacts {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
}

.header__phone {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.75rem;
  color: rgb(255, 255, 255);
}

.header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
}

.header__social-pic {
  height: 24px;
  width: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__social-svg {
  width: 20px;
  height: 20px;
}

.header__burger {
  display: none;
}

.header__burger.active .header__burger-pic_1 {
  opacity: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.header__burger.active .header__burger-pic_2 {
  opacity: 1;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.header__burger-pic {
  position: absolute;
  top: 4px;
  left: 2px;
  width: 24px;
  height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__burger-svg {
  width: 100%;
  height: 100%;
}

.navmob {
  display: none;
}

.navmob {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 0;
  width: 100%;
  background-color: rgb(127, 113, 62);
  position: fixed;
  z-index: 1;
  top: 60px;
  left: 0;
  overflow-y: hidden;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.navmob__nav {
  padding-bottom: 80px;
}

.navmob__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 16px;
  padding-bottom: 24px;
}

.navmob__link {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1rem;
  color: rgb(255, 255, 255);
  text-align: center;
  text-transform: uppercase;
}

.navmob__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
}

.navmob__social-pic {
  height: 24px;
  width: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navmob__social-svg {
  width: 20px;
  height: 20px;
}

.navmob.active {
  height: 100%;
}

.banner {
  width: 100%;
  padding-bottom: 64px;
}

.banner__container {
  max-width: 1920px;
  margin: 0 auto;
}

.banner__inner {
  width: 100%;
  height: 568px;
  position: relative;
}

.banner__pic {
  width: 100%;
}

.banner__pic-small {
  display: none;
}

.banner__img {
  width: 100%;
}

.banner__title {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.banner__title1 {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  line-height: 3.875rem;
  color: rgb(255, 255, 255);
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.banner__title3 {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.25rem;
  color: rgb(255, 255, 255);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.banner__btn {
  width: 151px;
  height: 52px;
  background: #f3d5ae;
  border-radius: 4px;
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgb(81, 63, 41);
  text-align: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.banner__btn:hover {
  background-color: rgb(246, 196, 131);
}

.banner__btn.active {
  background-color: rgb(246, 196, 131);
}

.about {
  width: 100%;
  padding-bottom: 64px;
}

.about__container {
  max-width: 1192px;
  height: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.about__inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 140px;
     -moz-column-gap: 140px;
          column-gap: 140px;
  row-gap: 32px;
}

.about__pic {
  max-width: 560px;
}

.about__img {
  width: 100%;
  height: 100%;
}

.about__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 48px;
  max-width: 460px;
}

.about__title {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.5625rem;
  color: rgb(38, 38, 38);
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.about__text {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.25rem;
  color: rgb(38, 38, 38);
}

.designers {
  width: 100%;
  padding-bottom: 120px;
}

.designers__container {
  max-width: 3000px;
  margin: 0 auto;
}

.designers__inner {
  width: 100%;
  min-height: 77px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  background-color: rgb(127, 113, 62);
}

.designers__text {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.625rem;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  min-width: 480px;
}

.designers__span {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.625rem;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

.catalogue {
  width: 100%;
  padding-bottom: 64px;
}

.catalogue__container {
  max-width: 1192px;
  height: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.catalogue__inner {
  width: 100%;
}

.catalogue__header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 48px;
}

.catalogue__title {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.375rem;
  color: rgb(38, 38, 38);
}

.catalogue__see-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.catalogue__see-all-text {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.625rem;
  color: rgb(127, 113, 62);
}

.catalogue__see-all-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 18px;
  height: 18px;
}

.catalogue__see-all-svg {
  width: 100%;
  height: 100%;
}

.catalogue__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  row-gap: 40px;
}

.catalogue__item-wide {
  position: relative;
  width: 760px;
  height: 300px;
  background: #e9e7da;
  border-radius: 4px;
  overflow: hidden;
  padding-top: 32px;
  padding-left: 32px;
}

.catalogue__item-wide-info {
  height: 158px;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalogue__item-wide-title {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.9375rem;
  color: rgb(38, 38, 38);
  text-transform: uppercase;
}

.catalogue__item-wide-text {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgb(38, 38, 38);
}

.catalogue__item-wide-go {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  cursor: pointer;
}

.catalogue__item-wide-go-text {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgb(127, 113, 62);
}

.catalogue__item-wide-go-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 16px;
}

.catalogue__item-wide-go-svg {
  width: 100%;
  height: 100%;
}

.catalogue__item-wide-pic {
  position: absolute;
  bottom: 35px;
  left: 380px;
  width: 455px;
  height: 166px;
}

.catalogue__item-wide-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.catalogue__item-narrow {
  position: relative;
  width: 360px;
  height: 300px;
  background: #fbf4f4;
  border-radius: 4px;
  overflow: hidden;
  padding-top: 32px;
  padding-left: 32px;
}

.catalogue__item-narrow-info {
  height: 158px;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalogue__item-narrow-title {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.9375rem;
  color: rgb(38, 38, 38);
  text-transform: uppercase;
}

.catalogue__item-narrow-text {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgb(38, 38, 38);
}

.catalogue__item-narrow-go {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  cursor: pointer;
}

.catalogue__item-narrow-go-text {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgb(127, 113, 62);
}

.catalogue__item-narrow-go-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 16px;
}

.catalogue__item-narrow-go-svg {
  width: 100%;
  height: 100%;
}

.catalogue__item-narrow-pic {
  position: absolute;
  bottom: 12px;
  left: 256px;
  width: 144px;
  height: 169px;
}

.catalogue__item-narrow-pic_3 {
  bottom: -46px;
  left: 163px;
  width: 463px;
  height: 203px;
}

.catalogue__item-narrow-pic_6 {
  bottom: 68px;
  left: 214px;
  width: 146px;
  height: 342px;
}

.catalogue__item-narrow-pic_7 {
  bottom: -37px;
  left: 395px;
  width: 426px;
  height: 243px;
}

.catalogue__item-narrow-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.popular {
  width: 100%;
  padding-bottom: 64px;
}

.popular__container {
  width: 100%;
  margin: 0 auto;
}

.popular__inner {
  width: 100%;
}

.popular__inner .swiper {
  width: 2060px;
  margin: 0 auto;
}

.popular__inner .swiper .swiper-wrapper .swiper-slide {
  max-width: 260px;
  max-height: 543px;
  padding: 32px;
  background: #f9f9f9;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 20px;
}

.popular__header {
  max-width: 1192px;
  padding: 0 16px;
  margin: 0 auto 58px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popular__header-title {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.5625rem;
  color: rgb(38, 38, 38);
}

.popular__header-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}

.popular__header-buttons .swiper-button-prev {
  position: relative;
  top: 0;
  left: 0;
  margin-top: 0;
  right: auto;
  background-color: white;
  width: 40px;
  height: 40px;
  border: 1px solid #7f713e;
  border-radius: 4px;
}

.popular__header-buttons .swiper-button-prev::after {
  display: none;
}

.popular__header-buttons .swiper-button-prev picture {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popular__header-buttons .swiper-button-prev picture svg {
  width: 16px;
  height: 16px;
}

.popular__header-buttons .swiper-button-next {
  position: relative;
  top: 0;
  right: 0;
  margin-top: 0;
  left: auto;
  background-color: white;
  width: 40px;
  height: 40px;
  border: 1px solid #7f713e;
  border-radius: 4px;
}

.popular__header-buttons .swiper-button-next::after {
  display: none;
}

.popular__header-buttons .swiper-button-next picture {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popular__header-buttons .swiper-button-next picture svg {
  width: 16px;
  height: 16px;
}

.popular__pic {
  width: 196px;
  height: 196px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popular__img {
  width: 100%;
}

.popular__img_narrow {
  width: 122px;
}

.popular__info {
  margin-bottom: 4px;
}

.popular__title {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.9375rem;
  color: rgb(38, 38, 38);
}

.popular__text {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgb(89, 89, 89);
  margin-bottom: 24px;
}

.popular__price {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: rgb(127, 113, 62);
  margin-bottom: 24px;
}

.popular__colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}

.popular__color {
  width: 16px;
  height: 16px;
}

.popular__color_1 {
  background-color: #bfbfbf;
}

.popular__color_2 {
  background-color: #f0f0f0;
}

.popular__color_3 {
  background-color: #7d4d29;
}

.popular__color_4 {
  background-color: #cac786;
}

.popular__color_5 {
  background-color: #c5cdd6;
}

.popular__color_6 {
  background-color: #e84025;
}

.popular__color_7 {
  background-color: #a69e98;
}

.popular__color_8 {
  background-color: #2d3f74;
}

.popular__color_9 {
  background-color: #e2dddf;
}

.popular__color_10 {
  background-color: #616161;
}

.popular__color_11 {
  background-color: #3f3934;
}

.popular__color_12 {
  background-color: #c8cc46;
}

.popular__color_13 {
  background-color: #ffffff;
}

.popular__color_14 {
  background-color: #262626;
}

.popular__btn {
  display: none;
}

.popular__btn.visible {
  margin-top: 36px;
  display: block;
  width: 192px;
  height: 52px;
  background: #f3d5ae;
  border-radius: 4px;
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgb(81, 63, 41);
  text-align: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.popular__btn:hover {
  background-color: rgb(246, 196, 131);
}

.popular__btn.active {
  background-color: rgb(246, 196, 131);
}

.connect {
  width: 100%;
  padding-bottom: 64px;
}

.connect__container {
  max-width: 1192px;
  height: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.connect__inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 0px;
     -moz-column-gap: 0px;
          column-gap: 0px;
  row-gap: 0px;
}

.connect__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 460px;
          flex: 0 1 460px;
  padding: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.connect__title {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.9375rem;
  color: rgb(38, 38, 38);
  margin-bottom: 16px;
}

.connect__advise {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgb(38, 38, 38);
  margin-bottom: 48px;
}

.connect__form {
  width: 100%;
  height: 256px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 16px;
}

.connect__input {
  width: 100%;
  height: 52px;
  border: 1px solid #bfbfbf;
  border-radius: 4px;
  padding-left: 24px;
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgb(140, 140, 140);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.connect__input:hover {
  border: 1px solid #262626;
}

.connect__btn {
  width: 165px;
  height: 52px;
  background: #f3d5ae;
  border-radius: 4px;
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgb(81, 63, 41);
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.connect__btn:hover {
  background: #f6c483;
}

.connect__text {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.1875rem;
  color: rgb(38, 38, 38);
  opacity: 0.6;
}

.connect__text span {
  text-decoration: underline;
}

.connect__pic {
  max-width: 500px;
}

.connect__img {
  width: 100%;
  height: 100%;
}

.feedback {
  width: 100%;
  padding-bottom: 64px;
}

.feedback__container {
  width: 100%;
  margin: 0 auto;
}

.feedback__inner {
  width: 100%;
}

.feedback__inner .swiper {
  width: 2060px;
  margin: 0 auto;
}

.feedback__inner .swiper .swiper-wrapper .swiper-slide {
  max-width: 260px;
  height: 423px;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 20px;
}

.feedback__header {
  max-width: 1192px;
  padding: 0 16px;
  margin: 0 auto 58px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feedback__header-title {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.5625rem;
  color: rgb(38, 38, 38);
}

.feedback__header-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}

.feedback__header-buttons .swiper-button-prev {
  position: relative;
  top: 0;
  left: 0;
  margin-top: 0;
  right: auto;
  background-color: white;
  width: 40px;
  height: 40px;
  border: 1px solid #7f713e;
  border-radius: 4px;
}

.feedback__header-buttons .swiper-button-prev::after {
  display: none;
}

.feedback__header-buttons .swiper-button-prev picture {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feedback__header-buttons .swiper-button-prev picture svg {
  width: 16px;
  height: 16px;
}

.feedback__header-buttons .swiper-button-next {
  position: relative;
  top: 0;
  right: 0;
  margin-top: 0;
  left: auto;
  background-color: white;
  width: 40px;
  height: 40px;
  border: 1px solid #7f713e;
  border-radius: 4px;
}

.feedback__header-buttons .swiper-button-next::after {
  display: none;
}

.feedback__header-buttons .swiper-button-next picture {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feedback__header-buttons .swiper-button-next picture svg {
  width: 16px;
  height: 16px;
}

.feedback__item-1 {
  padding: 32px 24px;
  position: relative;
}

.feedback__item-1-title {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.625rem;
  color: transparent;
  margin-bottom: 8px;
}

.feedback__item-1-text {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: transparent;
}

.feedback__item-1-person {
  position: absolute;
  bottom: 32px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 10;
  width: 48px;
  height: 68px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feedback__item-1-person-pic {
  width: 100%;
  border-radius: 50%;
}

.feedback__item-1-person-img {
  width: 100%;
  border-radius: 50%;
}

.feedback__item-1-person-name {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.125rem;
  color: transparent;
}

.feedback__item-2 {
  position: relative;
}

.feedback__item-2-pic-big {
  width: 100%;
  height: 100%;
}

.feedback__item-2-img-big {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.feedback__item-2-pic-small {
  position: absolute;
  bottom: 52px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 100;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(127, 113, 62, 0.7);
  cursor: pointer;
}

.feedback__item-2-svg-small {
  width: 13px;
  height: 15px;
}

.feedback__footer {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.625rem;
  color: rgb(127, 113, 62);
  text-transform: uppercase;
  text-decoration: underline;
  text-align: center;
  margin-top: 48px;
  cursor: pointer;
}

.insta {
  width: 100%;
  padding-bottom: 64px;
}

.insta__container {
  max-width: 1952px;
  padding: 0 16px;
  margin: 0 auto;
}

.insta__inner {
  width: 100%;
}

.insta__header {
  max-width: 1192px;
  padding: 0 16px;
  margin: 0 auto;
}

.insta__title {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.5625rem;
  color: rgb(38, 38, 38);
  text-transform: uppercase;
  width: 376px;
  margin-bottom: 24px;
}

.insta__title a {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.5625rem;
  color: rgb(227, 197, 158);
  text-transform: uppercase;
  text-decoration: underline;
}

.insta__info {
  width: 360px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 24px;
}

.insta__info-pic {
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 24px;
}

.insta__box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 4px;
}

.insta__text {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: rgb(38, 38, 38);
}

.insta__span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.insta__span-1 {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: rgb(38, 38, 38);
  margin-right: 3px;
}

.insta__span-2 {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: rgb(140, 140, 140);
  margin-right: 8px;
}

.insta__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  row-gap: 16px;
}

.insta__pic {
  width: 300px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.insta__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.partners {
  width: 100%;
  padding-bottom: 64px;
}

.partners__container {
  max-width: 1192px;
  padding: 0 16px;
  margin: 0 auto;
}

.partners__inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 126px;
     -moz-column-gap: 126px;
          column-gap: 126px;
  row-gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 64px;
}

.partners__pic {
  height: 100%;
}

.footer {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 44px;
  background-color: rgb(38, 38, 38);
}

.footer__container {
  max-width: 1192px;
  height: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.footer__inner {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  row-gap: 32px;
}

.footer__logo {
  height: 132px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo-link {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 192px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo-pic {
  height: 32px;
  width: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__logo-svg {
  width: 100%;
  height: 100%;
}

.footer__logo-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__logo-name-pic {
  height: 11px;
  max-width: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 0px;
}

.footer__logo-name-pic:nth-child(7) {
  margin-right: 5px;
}

.footer__logo-name-svg {
  width: 100%;
  height: 100%;
}

.footer__logo-text {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgb(255, 255, 255);
}

.footer__logo-text_small {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.1875rem;
  color: rgb(255, 255, 255);
}

.footer__contacts {
  height: 128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__phone {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgb(255, 255, 255);
}

.footer__contacts-text {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgb(255, 255, 255);
}

.footer__mail {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgb(255, 255, 255);
}

.footer__menu {
  height: 104px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__menu-text {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgb(255, 255, 255);
}

.footer__info {
  height: 126px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__btn {
  width: 222px;
  height: 52px;
  background: #f3d5ae;
  border-radius: 4px;
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgb(81, 63, 41);
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
}

.footer__social-pic {
  height: 24px;
  width: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__social-svg {
  width: 20px;
  height: 20px;
}

.footer__info-text {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: rgb(255, 255, 255);
}

.footer__info-text span {
  text-decoration: underline;
}

@media (min-width: 375px) {
  .banner {
    padding-bottom: calc(64px + 56* ((100vw - 375px) /1545));
  }

  .banner__inner {
    height: calc(568px + 232* ((100vw - 375px) /1545));
  }

  .banner__title {
    bottom: calc(0px + 248* ((100vw - 375px) /1545));
  }

  .about {
    padding-bottom: calc(64px + 56* ((100vw - 375px) /1545));
  }

  .catalogue {
    padding-bottom: calc(64px + 56* ((100vw - 375px) /1545));
  }

  .popular {
    padding-bottom: calc(64px + 56* ((100vw - 375px) /1545));
  }

  .connect {
    padding-bottom: calc(64px + 56* ((100vw - 375px) /1545));
  }

  .feedback {
    padding-bottom: calc(64px + 56* ((100vw - 375px) /1545));
  }

  .insta {
    padding-bottom: calc(64px + 56* ((100vw - 375px) /1545));
  }

  .partners {
    padding-bottom: calc(64px + 56* ((100vw - 375px) /1545));
  }
}

@media (min-width: 1920px) {
  .banner {
    padding-bottom: 120px;
  }

  .banner__inner {
    height: 800px;
  }

  .banner__title {
    bottom: 248px;
  }

  .about {
    padding-bottom: 120px;
  }

  .catalogue {
    padding-bottom: 120px;
  }

  .popular {
    padding-bottom: 120px;
  }

  .connect {
    padding-bottom: 120px;
  }

  .feedback {
    padding-bottom: 120px;
  }

  .insta {
    padding-bottom: 120px;
  }

  .partners {
    padding-bottom: 120px;
  }
}

@media only screen and (max-width: 1160px) {
  .about__pic {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .about__article {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media only screen and (max-width: 1100px) {
  .banner__title3 {
    color: rgb(38, 38, 38);
  }
}

@media only screen and (max-width: 1050px) {
  .header__list {
    -webkit-column-gap: 4px;
       -moz-column-gap: 4px;
            column-gap: 4px;
  }

  .header__contacts {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }

  .header__social {
    -webkit-column-gap: 6px;
       -moz-column-gap: 6px;
            column-gap: 6px;
  }
}

@media only screen and (max-width: 992px) {
  .header__logo-link {
    width: 33px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__logo-name {
    display: none;
  }

  .header__nav {
    display: none;
  }

  .header__social {
    display: none;
  }

  .header__burger {
    display: block;
    cursor: pointer;
    position: relative;
    width: 28px;
    height: 28px;
  }

  .header__burger .header__burger-pic_1 {
    opacity: 1;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }

  .header__burger .header__burger-pic_2 {
    opacity: 0;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }

  .header {
    height: 60px;
    background-color: rgb(127, 113, 62);
  }

  .banner__title1 {
    color: rgb(38, 38, 38);
  }

  .banner {
    padding-top: 60px;
  }

  .designers {
    display: none;
  }

  .insta__gallery {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
    row-gap: 10px;
  }

  .insta__pic {
    width: 200px;
    height: 200px;
  }
}

@media only screen and (max-width: 769px) {
  .banner__title1 {
    font-family: "Tenor Sans", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.5625rem;
    color: rgb(38, 38, 38);
  }

  .banner__title3 {
    font-family: "Tenor Sans", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: rgb(38, 38, 38);
  }

  .about__article {
    row-gap: 24px;
  }

  .catalogue__item-wide {
    width: 100%;
    height: 184px;
    padding-top: 24px;
    padding-left: 24px;
  }

  .catalogue__item-wide-info {
    height: 136px;
  }

  .catalogue__item-wide-title {
    font-family: "Tenor Sans", sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.625rem;
    color: rgb(38, 38, 38);
  }

  .catalogue__item-wide-text {
    font-family: "Tenor Sans", sans-serif;
    font-weight: 400;
    font-size: 0.8125rem;
    line-height: 1.1875rem;
    color: rgb(38, 38, 38);
  }

  .catalogue__item-wide-go-text {
    font-family: "Tenor Sans", sans-serif;
    font-weight: 400;
    font-size: 0.8125rem;
    line-height: 1.1875rem;
    color: rgb(127, 113, 62);
  }

  .catalogue__item-wide-pic {
    bottom: 22px;
    left: auto;
    right: -120px;
    width: 293px;
    height: 87px;
  }

  .catalogue__item-narrow {
    width: 100%;
    height: 184px;
    padding-top: 24px;
    padding-left: 24px;
  }

  .catalogue__item-narrow-info {
    height: 136px;
  }

  .catalogue__item-narrow-title {
    font-family: "Tenor Sans", sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.625rem;
    color: rgb(38, 38, 38);
  }

  .catalogue__item-narrow-text {
    font-family: "Tenor Sans", sans-serif;
    font-weight: 400;
    font-size: 0.8125rem;
    line-height: 1.1875rem;
    color: rgb(38, 38, 38);
  }

  .catalogue__item-narrow-go-text {
    font-family: "Tenor Sans", sans-serif;
    font-weight: 400;
    font-size: 0.8125rem;
    line-height: 1.1875rem;
    color: rgb(127, 113, 62);
  }

  .catalogue__item-narrow-pic {
    bottom: 22px;
    left: auto;
    right: -15px;
    width: 94px;
    height: 111px;
  }

  .catalogue__item-narrow-pic_3 {
    bottom: -20px;
    left: auto;
    right: -153px;
    width: 268px;
    height: 118px;
  }

  .insta__title {
    font-family: "Tenor Sans", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.75rem;
    color: rgb(38, 38, 38);
  }

  .insta__title a {
    font-family: "Tenor Sans", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.75rem;
    color: rgb(227, 197, 158);
  }

  .footer__logo {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 88px;
  }

  .footer__logo-text {
    font-family: "Tenor Sans", sans-serif;
    font-weight: 400;
    font-size: 0.8125rem;
    line-height: 1.1875rem;
    color: rgb(255, 255, 255);
  }

  .footer__logo-text br {
    display: none;
  }

  .footer__contacts {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 88px;
  }

  .footer__contacts-text br {
    display: none;
  }

  .footer__menu {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 88px;
  }
}

@media only screen and (max-width: 768px) {
  .about__title {
    font-family: "Tenor Sans", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.9375rem;
    color: rgb(38, 38, 38);
  }

  .about__text {
    font-family: "Tenor Sans", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: rgb(38, 38, 38);
  }
}

@media only screen and (max-width: 489px) {
  .catalogue__item-narrow-pic_3 {
    right: -200px;
  }
}

@media only screen and (max-width: 429px) {
  .banner__pic {
    display: none;
  }

  .banner__pic-small {
    display: block;
  }

  .catalogue__item-wide-pic {
    right: -200px;
  }

  .popular__header {
    margin: 0 auto 32px auto;
  }

  .popular__header-title {
    font-family: "Tenor Sans", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.75rem;
    color: rgb(38, 38, 38);
  }

  .connect__info {
    padding: 32px;
  }

  .feedback__header {
    margin: 0 auto 32px auto;
  }

  .feedback__header-title {
    font-family: "Tenor Sans", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.75rem;
    color: rgb(38, 38, 38);
  }

  .insta__info-pic {
    margin-right: 10px;
  }

  .insta__gallery {
    -webkit-column-gap: 8px;
       -moz-column-gap: 8px;
            column-gap: 8px;
    row-gap: 8px;
  }

  .insta__pic {
    width: 109px;
    height: 109px;
  }

  .partners__inner {
    -webkit-column-gap: 36px;
       -moz-column-gap: 36px;
            column-gap: 36px;
  }
}